#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Keep this file even if directory has been ignored
!.keep

# Yarn dependencies
/node_modules/
/*.log

# Test coverage
/coverage/

# Build artefacts
/security-check
