#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Don't include dependencies
/node_modules/
/vendor/

# Don't include error logs
/*.log

# Don't include test coverage
/coverage.txt

# Don't include build artefacts
/security-check

# Include file even if directory has been ignored
!.keep
