#-------------------------------------------------------------------------------
#
# NPM Configuration, https://docs.npmjs.com/files/npmrc
#
#-------------------------------------------------------------------------------

# Add directory within which node resides to the PATH
scripts-prepend-node-path=true
