#-------------------------------------------------------------------------------
#
# Prettier Ignores, https://prettier.io/docs/en/ignore.html
#
#-------------------------------------------------------------------------------

# Library code
/node_modules/
/vendor/

# Generated code
/yarn.lock
