#-------------------------------------------------------------------------------
#
# Yarn Configuration, https://yarnpkg.com/lang/en/docs/yarnrc/
#
#-------------------------------------------------------------------------------
